:root {
  font-size: 10px;
  --color-white: white;
  --padding: 10px;
}


.header{
 width: 1520px;
height:100%;
display: flex;
flex: 100px 1fr;
background-color: antiquewhite;
position: sticky;
top: 0;
}
.taste,
.end{
  display: flex;
  font-family: 'Brush Script MT';
  font-size: 40px ;
   color: #F72D57;
   margin-left: 55px;
   width: 50px;
  
  
}
.items{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
  text-align: right;
  margin-left: 850px;
 
  
    }
    .items ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 25px;
      margin-top: 18px;
      
    }
      
       .items ul li {
        display: flex;
        list-style: none;
        display: inline-block;
        padding: 8px 1px;
        position: relative;
        gap: 20px;
        
        a{
          color: rgb(61, 6, 6);
          font-size: 15px;
          text-decoration: none;
          font-style:normal;
      
         }
    }
    .button{
      display: flex;
      button{
        background-color:#F72D57;
      color:var(--color-white);
      box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
      width: 100px;
      border-radius: 4px;
      border: none;
      }
       }
    

.iio{
  display: flex;

  ;
}

  .title h1{
    font-size: 48px;
    top:100px;
    left:50px;
    width: 450px;
    margin-top: 60px;
    margin-left:50px;
    margin-bottom: 0px;
  }
  .title h3{
    font-size: 19px;
    margin: 20px;
    width: 500px;
    margin-left: 50px;
    color: #3F3F3F;
    font-weight: 300px;
  }
  .img{
    margin-right: 370px;
    margin-bottom:30px;
    
  }
    img{
      border-radius: 110px;
      width: 300px;
      height: 300px;
}






.popular{
  width: 100%;
  height: 500px;
   

}
.pizza{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  
  width: 880px;
  margin-top: 50px;
  text-align: center;
  gap: 70px;
  margin-left: 230px;
  box-shadow:  15px black;
  
}
.pizza button{
  border: 1px solid black;
  display: inline-block;
  width: 190px;
  height: 45px;
 
  color:#F72D57;
  background-color: var(--color-white);
  font-size: 18px;
  font-family: popins;
  box-shadow:  1px 5px 3px black;
}
 
.popular h1{
  font-size: 48px;
  text-align: center;
  
  
}
.conteiners{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;

  vertical-align: top;
  margin-top: -340px;
  margin-left: 230px;
  width: 1000px;
  
  
}

.conteiner1{
  display: inline-block;
  border: 1px solid black;
  box-shadow: 1px 2px 5px black;
  width: 200px; }
  .conteiner1 img{
  width: 210px;
  height: 200x;
  
}
.conteiner1 h2 {
   text-align: center;
  font-size: 16px;
  font-weight: 500px; }
  .conteiner1 p{
  font-size: 13px;
  text-align: center;
  font-weight: 300px;
  line-height: 15px;

}
.conteiner1 button{
  background-color: #F72D57;
  color: var(--color-white);
  width: 140px;
  height: 34px;
  margin-left: 30px;
  border: none;
   }
    
.conteiner2{
  display: inline-block;
  border: 1px solid black;
  box-shadow: 1px 2px 5px black;
  width: 200px;
  
}
.conteiner2 img{
  width: 210px;
  height: 145x;
  
}
.conteiner2 h2 {
  text-align: center;
 font-size: 16px;
 font-weight: 500px; }
 .conteiner2 p{
 font-size: 13px;
 text-align: center;
 font-weight: 300px;
 line-height: 15px;

}
.conteiner2 button{
 background-color: #F72D57;
 color: var(--color-white);
 width: 140px;
 height: 34px;
 margin-left: 30px;
 border: none;
  }

.conteiner3{
  display: inline-block;
  border: 1px solid black;
  box-shadow: 1px 2px 5px black;
  width: 200px;
  
}
.conteiner3 img{
  width: 190px;
  height: 185x;
  
}
.conteiner3 h2 {
  text-align: center;
 font-size: 16px;
 font-weight: 500px; }
 .conteiner3 p{
 font-size: 13px;
 text-align: center;
 font-weight: 300px;
 line-height: 15px;

}
.conteiner3 button{
 background-color: #F72D57;
 color:var(--color-white);
 width: 140px;
 height: 34px;
 margin-left: 30px;
 border: none;
  }

.conteiner3{
  display: inline-block;
  border: 1px solid black;
  box-shadow: 1px 2px 5px black;
  width: 190px;
  height: 383px;
  
}
.conteiner4 { 
display: inline-block;
  border: 1px solid black;
  box-shadow: 1px 2px 5px black;
  width: 200px;
   }
.conteiner4 img{
  width: 190px;
  height: 185x;
  
}
.conteiner4 h2 {
  text-align: center;
 font-size: 16px;
 font-weight: 500px; }
 .conteiner4 p{
 font-size: 13px;
 text-align: center;
 font-weight: 300px;
 line-height: 15px;

}
.conteiner4 button{
 background-color: #F72D57;
 color:var(--color-white);
 width: 140px;
 height: 34px;
 margin-left: 30px;
 border: none;
  }


.line{
  border: 1px solid black;
}




.burger{
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: 100px 1fr;
  background-color: #F72D57;
  margin-top: 100px;
  position: relative;
}
.burger img{
  width: 615px;
  height: 515px;
  position: absolute;
  display: flex;
  background-size: cover;
  margin-top: -150px;
}
.text{
  display: inline-block;
  h1{
text-align: center;
width: 345px;
  font-size:36px ;
  margin-left: 450px;
  color: var(--color-white);
}
 }
.burger  p{
  color:var(--color-white);
  font-size: 16px;
  width: 445px;
  margin-left: 450px;
  margin-top: 20px;
}
.service{
  display: flex;
}
.information h1{
font-size: 36px;
width:335px;
margin-left: 35px;
margin-top: 200px;
line-height: 40px;
}
.information p{
  font-size: 16px;
  font-weight: 300;
  width: 470px;
  margin-left: 35px;
  margin-top: 20px;
}
.information button{
  
  background-color:#F72D57;
  border-radius: 5px;
   color: var(--color-white);
   width: 140px;
   height: 46px;
   border: none;
   margin-left: 35px;
   margin-top: 20px;
}
.delivery {
  margin-left: 400px;
  margin-top: 50px;
  display: inline-block;
  img { 
  width: 615px;
  height: 583px; }
  
}
.order{
  display: flex;
}
.order img{
  height: 465px;
  width: 580px;
}
.shsh h1{
  font-size: 36px;
  width:400px;
  margin-left: 320px;
  margin-top: 73px;
  line-height: 40px;
  font-weight: 700px;
  }
  .shsh p{
    font-size: 16px;
    font-weight: 300;
    width: 470px;
    margin-left: 320px;
    margin-top: 50px;
  }
  .shsh button{
    
    background-color:#F72D57;
    border-radius: 5px;
     color: var(--color-white);
     width: 140px;
     height: 46px;
     border: none;
     margin-left: 320px;
     margin-top: 50px;
  }
  .footer{
    width: 1520px;
    background-color: antiquewhite;
    display: grid ;
    grid-template-columns: 1160px 300px;
    font-weight: 300px;
    
  }
  .pages{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row ;
    gap: 15px;
  width: 200px;
  
   p{
font-size: 13px;
color: black;


 }
 }
@media screen and (max-width: 760px)
  
{ 
 .items{
 margin-left: 
 645px;} 

  .img{
    img{ 
    width: 500px;
    height: 500px;
     }
   }
  .popular{
    height: 584px;
  }
  .pizza{
    margin-left: 30px;
  }
  .conteiners{
    margin-left: 30px;
  }
  .burger{
    width: 1500px;
    height: 300px;
    img{
      width: 642px;
      height: 665px;
    }
  }
  .text p{
    font-size: 20px;
  }
  .delivery {
    margin-left: 155px;
  }
.shsh{
  width: 300px;
  margin-left: -200px;
}
.pages{
  width: 300px;
  margin-left: -244px;
}
.contact{
  width: 1500px;
}
 }

   