.About {
  display: flex;

}

 
.blog h1{
    font-size: 36px;
    width:335px;
    margin-left: 35px;
    margin-top: 200px;
    line-height: 40px;
    font-weight: 700px;
    }
    .blog p{
      font-size: 16px;
      font-weight: 300;
      width: 470px;
      margin-left: 35px;
      margin-top: 20px;
    }
    .pic{
      width: 400px;
      height: 300px;
      border-radius: 20px;
      margin-left: 400px;
      margin-top: 100px;

    }
    .boxes{ 
      display: flex;
      gap:40px;
      margin-top: 170px;
      margin-bottom: 100px;
      align-items: center;
      margin-left: 220px;
      
    }
    .box2{
      border:1px solid grey ;
      width: 350px;
      height: 300px;
      box-shadow: 0px -16px 1px #F72D57;
      display: inline-block;
      border-radius: 10px;
    }
    
    .box2 h1 {
      text-align: center;
     font-size: 36px;
     font-weight: 500px;
     
     }
    
     .box2 p{
      
     font-size: 13px;
     text-align: center;
     font-weight: 300px;
     line-height: 15px;
     margin-top: 40px;
     width: 328;
    
    }
    
    .box2 button{
     background-color:#F72D57;
     color: white;
     margin-top: 70px;
     margin-right: 70px;
     width: 140px;
     height: 34px;
     margin-left: 70px;
     border: none;
     text-align: center;
      }
      .box1{
        border:1px solid grey ;
        width: 300px;
        height: 300px;
        box-shadow: 0px -16px 1px#F2BC57;
        display: inline-block;
        border-radius: 10px;
      }
      
      .box1 h1 {
        text-align: center;
       font-size: 36px;
       font-weight: 500px;
       
       }
      
       .box1 p{
        
       font-size: 13px;
       text-align: center;
       font-weight: 300px;
       line-height: 15px;
       margin-top: 40px;
       width: 272px;
      
      }
      
      .box1 button{
       background-color: #F2BC57;
       color: white;
       margin-top: 70px;
       margin-right: 40px;
       width: 140px;
       height: 34px;
       margin-left: 70px;
       border: none;
        }
        .box3{
          border:2px solid  grey ;
          width: 300px;
          height: 300px;
          box-shadow: 0px -16px 1px#F2BC57;
          display: inline-block;
          border-radius: 10px;
        }
        
        .box3 h1 {
          text-align: center;
         font-size: 36px;
         font-weight: 500px;
         
         }
        
         .box3 p{
          
         font-size: 13px;
         text-align: center;
         font-weight: 300px;
         line-height: 15px;
         margin-top: 40px;
         width: 274px;
        
        }
        
        .box3 button{
         background-color: #F2BC57;
         color: white;
         margin-top: 70px;
         margin-right: 40px;
         width: 140px;
         height: 34px;
         margin-left: 70px;
         border: none;
          }
          .contact {
            width: 1520px;
            height: 590px;
            background-color: #F72D57;
            margin-top: 40px;

          }
          .oo h1{
            font-size: 36px;
            margin-left: 40px;
            color: white;
          
          }
          input{
            width: 373px;
            height: 60px;
            text-align:start ;

            border-radius: 5px;
           
            
          }
          ::placeholder{
            color: white;
          }
          .message input{
            width: 1255px;
            height: 220px;
            margin-left: 40px;
            margin-top: 40px;
          }
          
          .in{
            display: flex;
            gap: 40px;
            margin-left: 40px;
            margin-top: 40px;
            
          }
          .send button{
            background-color: white;
            color: red;
            border-radius: 5px;
            width: 140px;
            height: 46px;
            margin-left: 1165px;
            margin-top: 40px;
          }
          .us h1{
            font-size: 36px;
            width:285px;
            margin-left: 624px;
            margin-top: 80px;
            line-height: 40px;
            font-weight: 700px;
          }
          .work{
            display: flex;
            gap: 20px;
            margin-left: 150px;
            margin-top: 40px;
          }
          .quadrat1 { 
            border-radius: 10px;
            box-shadow: 0px 0px 0px 0,25px;
            img { 
            width: 392px;
            height: 292px;
            border-radius: 10px 10px 0px 0px;
          }
           }
          .quadrat1 p{
            font-size: 16px;
            color: #C2294F;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .quadrat2 {
             box-shadow: 0px 0px 0px 0,25px;
            border-radius: 10px;
            img { 
            width: 392px;
            height: 292px;
            border-radius: 10px 10px 0px 0px;
          }
           }
          .quadrat2 p{
            font-size: 16px;
            color: #C2294F;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .quadrat3 {
            box-shadow: 0px 0px 0px 0,25px;
            border-radius: 10px;
            img { 
            width: 392px;
            height: 292px;
            border-radius: 10px 10px 0px 0px;
          }
           }
          .quadrat3 p{
            font-size: 16px;
            color: #C2294F;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          .footer{
            width: 100;
            background-color: antiquewhite;
            display: grid ;
            grid-template-columns: 1160px 300px;
            font-weight: 300px;
          }
          .kk h1{
            font-size: 36px;
            width:360px;
            margin-left: 525px;
            margin-top: 73px;
            line-height: 40px;
            font-weight: 700px;
            }
            .kk p{
              font-size: 16px;
              font-weight: 300;
              width: 421px;
              margin-left: 496px;
              margin-top: 50px;
            }
            .kk button{
              
              background-color:#F72D57;
              border-radius: 5px;
               color: white;
               width: 140px;
               height: 46px;
               border: none;
               margin-left: 625px;
               margin-top: 50px;
            }
            .search input{
              width: 358px;
              height: 45px;
              border-radius: 50px;
              border: 2px red;
              background-color: whitesmoke;
              
            }
            ::placeholder{ 
              color: #F72D57;
            }
            .join {
              display: inline-block;

            }
            .divisions{
              display: inline-block;
              gap: 90px;
            }
            
            .division1{
              display: flex;
              border: 2px solid;
              width: 1240px;
              height: 370px;
              box-shadow: rgba(0, 0, 0, 0.15);
              margin-left: 115px;
              margin-bottom: 40px;
            }
            
            .divtext1 h1{
              font-size: 36px;
              width:360px;
              margin-left: 72px;
              margin-top: 73px;
              line-height: 40px;
              font-weight: 700px;
              }
            
            .divtext1 p{
                font-size: 16px;
                font-weight: 300;
                width: 421px;
                margin-left: 72px;
                margin-top: 32px;
              }
           
            .divtext1 button{
                
                background-color:#F72D57;
                border-radius: 5px;
                 color: white;
                 width: 140px;
                 height: 46px;
                 border: none;
                 margin-left: 72px;
                 margin-top: 35px;
                  }
                  
                  .divpho1 img{
                   width: 419px;
                   height: 280px;
                   border-radius: 10px; 
                   margin-left: 300px;
                   margin-top: 50px;
                  }
                  .division2{
                    display: flex;
                    border: 2px solid;
                    width: 1240px;
                    height: 370px;
                    box-shadow: rgba(0, 0, 0, 0.15);
                    margin-left: 115px;
                    margin-bottom: 40px;
                  }
                  
                  .divtext2 h1{
                    font-size: 36px;
                    width:360px;
                    margin-left: 72px;
                    margin-top: 73px;
                    line-height: 40px;
                    font-weight: 700px;
                    }
                  
                  .divtext2 p{
                      font-size: 16px;
                      font-weight: 300;
                      width: 421px;
                      margin-left: 72px;
                      margin-top: 32px;
                    }
                 
                  .divtext2 button{
                      
                      background-color:#F72D57;
                      border-radius: 5px;
                       color: white;
                       width: 140px;
                       height: 46px;
                       border: none;
                       margin-left: 72px;
                       margin-top: 35px;
                        }
                        
                        .divpho2 img{
                         width: 419px;
                         height: 280px;
                         border-radius: 10px; 
                         margin-left: 300px;
                         margin-top: 50px;
                        }

                        .division3{
                          display: flex;
                          border: 2px solid;
                          width: 1240px;
                          height: 370px;
                          box-shadow: rgba(0, 0, 0, 0.15);
                          margin-left: 115px;
                          margin-bottom: 40px;
                        }
                        
                        .divtext3 h1{
                          font-size: 36px;
                          width:380px;
                          margin-left: 72px;
                          margin-top: 73px;
                          line-height: 40px;
                          font-weight: 700px;
                          }
                        
                        .divtext3 p{
                            font-size: 16px;
                            font-weight: 300;
                            width: 421px;
                            margin-left: 72px;
                            margin-top: 32px;
                          }
                       
                        .divtext3 button{
                            
                            background-color:#F72D57;
                            border-radius: 5px;
                             color: white;
                             width: 140px;
                             height: 46px;
                             border: none;
                             margin-left: 72px;
                             margin-top: 35px;
                              }
                              
                              .divpho3 img{
                               width: 419px;
                               height: 280px;
                               border-radius: 10px; 
                               margin-left: 300px;
                               margin-top: 50px;
                              }

                              .division4{
                                display: flex;
                                border: 2px solid;
                                width: 1240px;
                                height: 370px;
                                box-shadow: rgba(0, 0, 0, 0.15);
                                margin-left: 115px;
                                margin-bottom: 40px;
                              }
                              
                              .divtext4 h1{
                                font-size: 36px;
                                width:360px;
                                margin-left: 72px;
                                margin-top: 73px;
                                line-height: 40px;
                                font-weight: 700px;
                                }
                              
                              .divtext4 p{
                                  font-size: 16px;
                                  font-weight: 300;
                                  width: 421px;
                                  margin-left: 72px;
                                  margin-top: 32px;
                                }
                             
                              .divtext4 button{
                                  
                                  background-color:#F72D57;
                                  border-radius: 5px;
                                   color: white;
                                   width: 140px;
                                   height: 46px;
                                   border: none;
                                   margin-left: 72px;
                                   margin-top: 35px;
                                    }
                                    
                                    .divpho4 img{
                                     width: 419px;
                                     height: 280px;
                                     border-radius: 10px; 
                                     margin-left: 300px;
                                     margin-top: 50px;
                                    }
                                    .vz h1{
                                      font-size: 36px;
                                      width:360px;
                                      margin-left: 72px;
                                      margin-top: 73px;
                                      line-height: 40px;
                                      font-weight: 700px;
                                      }
                                    
                                    .vz p{
                                        font-size: 16px;
                                        font-weight: 300;
                                        width: 421px;
                                        margin-left: 72px;
                                        margin-top: 32px;
                                      }
                                      .vz img{
                                        margin-left: 72px;
                                        margin-top: 32px;
                                      }
                                      .cbb{
                                        display: inline-block;
                                        margin-left: 50px;
                                      }
                                      .cbb input{
                                        width: 373px;
                                        height: 50px;
                                        border-radius: 5px;
                                        border: 2px solid #C2294F;
                                        background-color: white;
                                        margin-top: 20px;
                                      }
                                      ::placeholder{
                                        color: #C2294F ;
                                      }
                                      .cbb button{
                                        background-color:#F72D57;
                                        border-radius: 5px;
                                         color: white;
                                         width: 140px;
                                         height: 46px;
                                         border: none;
                                         margin-top: 40px;
                                         
                                      }
                                      .bur img{
                                        width: 622px;
                                        height: 540px;
                                        margin-top: 127px;
                                        margin-left: -300px;
                                      }
                                      .whole{
                                        display: flex;
                                        margin-top: 20px;
                                      }
                                      .bur{
                                        display: flex;
                                        margin-left:300px;
                                        width: 726px;
                                        height: 1200px;
                                        left: 700px;
                                        background-color: #C2294F;
                                      }
                                      .bolo h1{
                                        font-size: 36px;
                                        width:360px;
                                        margin-left: 72px;
                                        margin-top: -300px;
                                        line-height: 40px;
                                        font-weight: 700px;
                                        }
                                      
                                      .bolo p{
                                          font-size: 16px;
                                          font-weight: 300;
                                          width: 421px;
                                          margin-left: 72px;
                                          margin-top: 32px;
                                        }
                                     
                                      .bolo button{
                                          
                                          background-color:#F72D57;
                                          border-radius: 5px;
                                           color: white;
                                           width: 140px;
                                           height: 46px;
                                           border: none;
                                           margin-left: 72px;
                                           margin-top: 35px;
                                            }
                                            @media screen and (max-width: 760px)
  
                                            { 
                                              .send{
                                                margin-left: -70px;
                                              }
                                              .work{
                                                margin-left: 40px;
                                              }
                                              .divisions{
                                                margin-left: -90px;
                                              }
                                              .kanec{
                                                margin-left: 80px;
                                              }
                                            }



                                            